<ion-header>
    <ion-toolbar color="primary">
      <ion-title style="text-align: center;">{{ productTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Código <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="number" disabled [(ngModel)]="novoProduto.codigo" ></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Tipo <ion-text color="danger">*</ion-text></ion-label>
      <ion-select (keyup)="ngValidar()" [(ngModel)]="novoProduto.tipo">
        <ion-select-option value="quente">Bebidas quente</ion-select-option>
        <ion-select-option value="gelada">Bebidas geladas</ion-select-option>
        <ion-select-option value="refrigerante">Regrigerante</ion-select-option>
        <ion-select-option value="agua">Agua</ion-select-option>
        <ion-select-option value="suco">Suco</ion-select-option>
        <ion-select-option value="porcao">Porção</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nome <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" (keyup)="ngValidar()" [(ngModel)]="novoProduto.nome" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Valor<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" (keyup)="ngValidar()" [(ngModel)]="novoProduto.valor" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ML Produto<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="number" (keyup)="ngValidar()" [(ngModel)]="novoProduto.ml" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>ML Dose <ion-text color="danger">*</ion-text></ion-label>
      <ion-select  (keyup)="ngValidar()" [(ngModel)]="  novoProduto.mlDose">
        <ion-select-option value="50">50 ML</ion-select-option>
        <ion-select-option value="60">60 ML</ion-select-option>
        <ion-select-option value="70">70 ML</ion-select-option>
        <ion-select-option value="80">80 ML</ion-select-option>
        <ion-select-option value="90">90 ML</ion-select-option>
        <ion-select-option value="100">100 ML</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">% de lucro <ion-text color="danger">*</ion-text></ion-label>
      <ion-input  type="number" (keyup)="ngValidar()" [(ngModel)]="novoProduto.lucroDose"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-textarea  [(ngModel)]="novoProduto.descricao"></ion-textarea>
    </ion-item>  
    <ion-item>
      <ion-label position="floating">Estoque</ion-label>
      <ion-input  type="number" [(ngModel)]="novoProduto.estoque"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" expand="block" (click)="onSave()" [disabled]="validar">{{btTitle}}</ion-button>
    <ion-button color="danger" [routerLink]="['/list-products']" expand="block">Cancelar</ion-button>
  </ion-toolbar>
</ion-footer>