<ion-header>
    <ion-toolbar color="primary">
      <ion-title style="text-align: center;">{{ productTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Código <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="number" disabled [(ngModel)]="novoProduto.codigo" ></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Tipo <ion-text color="danger">*</ion-text></ion-label>
      <ion-select (keyup)="ngValidar()" [(ngModel)]="novoProduto.tipo">
        <ion-select-option value="cerveja">Cerveja</ion-select-option>
        <ion-select-option value="whiske">Whiske</ion-select-option>
        <ion-select-option value="vilho">Vinho</ion-select-option>
        <ion-select-option value="agua">Agua</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nome <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" (keyup)="ngValidar()" [(ngModel)]="novoProduto.nome" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ML <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="number" (keyup)="ngValidar()" [(ngModel)]="novoProduto.ml" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Valor <ion-text color="danger">*</ion-text></ion-label>
      <ion-input  type="number" (keyup)="ngValidar()" [(ngModel)]="novoProduto.valor"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-textarea  [(ngModel)]="novoProduto.descricao"></ion-textarea>
    </ion-item>  
    <ion-item>
      <ion-label position="floating">Estoque</ion-label>
      <ion-input  type="number" [(ngModel)]="novoProduto.estoque"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" expand="block" (click)="onSave()" [disabled]="validar">{{btTitle}}</ion-button>
    <ion-button color="danger" [routerLink]="['/list-products']" expand="block">Cancelar</ion-button>
  </ion-toolbar>
</ion-footer>