ion-note.ion-color.ion-color-tertiary.md.hydrated {
    margin-right: 13px;
    font-size: medium;
}

span.codigo {
    color: #f9f9f9;
    background: #4b83a9;
    padding: 0px 17px;
    border-radius: 11%;
}

// :root {
//     --ion-safe-area-top: 20px;
//     --ion-safe-area-bottom: 22px;
//   }