<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu side="start" menuId="custom" class="my-custom-menu" contentId="main-content">
      <ion-header>
              
                <!-- <ion-button (click)="this.authService.logout()" > -->
                  <!-- <ion-icon slot="icon-only" name="log-out" *ngIf="this.authService.user"></ion-icon> -->
                  <!-- <ion-icon slot="icon-only" name="log-in" *ngIf="!this.authService.user"></ion-icon> -->
                <!-- </ion-button> -->
                <app-avatar></app-avatar>
              
       


        </ion-header>
        <ion-content>
          <ion-list>
            <ion-menu-toggle auto-hide="false">
              <ion-item [routerDirection]="'root'" [routerLink]="'/mesa-start'" (click)="openEnd()">
                <ion-icon name="filing" slot="start"></ion-icon>
                <ion-label>Mesas</ion-label>
              </ion-item>
              <ion-item [routerDirection]="'root'" [routerLink]="'/list-products'" (click)="openEnd()">
                <ion-icon name="pricetags" slot="start"></ion-icon>
                <ion-label>Produtos</ion-label>
              </ion-item>
              <ion-item [routerDirection]="'root'" [routerLink]="'/list-despesas'">
                <ion-icon name="analytics" slot="start"></ion-icon>
                <ion-label>Despesas</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
