<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;" >Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!products.length">
    <ion-item *ngFor="let item of [0,1,2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width:50%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width:80%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width:30%;"></ion-skeleton-text>
        </p><ion-skeleton-text animated style="width:50%;"></ion-skeleton-text>
        
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
