<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Despesas</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!-- loadin -->
 <!-- <ion-list *ngIf="loadList"> -->
  <ion-list *ngIf="loadList">
  <ion-item *ngFor="let item of [0, 1, 2, 3, 4]">
    <ion-avatar slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
</ion-list>
<!-- fim loadin -->
<ion-list>
  <ion-item-sliding *ngFor="let despesa of despesas$ | async">
    <ion-item>
      <ion-label>
        <h2>{{ despesa.nome | primeiraMaiuscula }}</h2>
        <h3>{{ despesa.valor | currency: 'BRL' }}</h3>
        <p>{{despesa.descricao}}</p>
      </ion-label>
      <!-- <ion-note slot="end" color="tertiary">( {{produto.estoque}} )</ion-note> -->
      <!-- <ion-badge slot="end" color="medium">{{produto.estoque}}</ion-badge> -->
    </ion-item>
    <!-- butoes edit e del -->
    <ion-item-options side="start">
      <ion-item-option color="primary" (click)="ngEdit(despesa)">Editar</ion-item-option>
    </ion-item-options>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="ngDelete(despesa)">Delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [routerLink]="['/detalhes-despesas']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>